{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} {{items['l.title']}} {% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('todo.createitem', listid = listid) }}">New Item</a>
{% endif %}
{% endblock %}

{% block content %}
{% for item in items %}
<article class="item">
    <header>
        <div>
            <h1>{{ item['i.title'] }}</h1>
            <div class="about">due on {{ item['date_due'].strftime('%Y-%m-%d') }}</div>
            <div class="completed">completed: {{ item['completed'] }}</div>
        </div>
        {% if g.user['id'] == item['author_id'] %}
        <a class="action" href="{{ url_for('todo.updateitem', itemid=item['id'], listid=item['id']) }}">Edit Item</a>
        {% endif %}
    </header>
    <p class="body">{{ item['description'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}