html { 
    font-family: American Typewriter, serif;
    background: rgb(166, 144, 211); 
    padding: 1rem; 
}
body { 
    font-family: American Typewriter, serif;
    max-width: 960px; 
    margin: 0 auto; 
    background: rgb(207, 203, 220);
    border-radius: 25px; 
    padding: 10px;
}
h1 { 
    font-family: American Typewriter, serif; 
    color: #200082; 
    margin: 1rem 0; 
}
a { 
    color: #231067; 
}
hr { 
    border: none; 
    border-top: 1px solid rgb(18, 7, 84); 
}

.content { 
    padding: 0 1rem 1rem; 
}
.content > header { 
    border-bottom: 1px solid lightgray; 
    display: flex; 
    align-items: flex-end; 
}
.content > header h1 { 
    flex: auto; 
    margin: 1rem 0 0.25rem 0; 
}
.flash { 
    margin: 1em 0; 
    padding: 1em; 
    background: #235979; 
    border: 1px solid #00385e; 
}
.list > header { 
    display: flex; 
    align-items: flex-end; 
    font-size: 0.85em; 
}
.list > header > div:first-of-type { 
    flex: auto; 
}
.list > header h1 { 
    font-size: 1.5em; 
    margin-bottom: 0; 
}
.list .about { 
    color: slategray; 
    font-style: italic; 
}
.list .body { 
    white-space: pre-line; 
}
.content:last-child { 
    margin-bottom: 0; 
}
.content form { 
    margin: 1em 0; 
    display: flex; 
    flex-direction: column; 
}
.content label { 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}
.content input, .content textarea { 
    margin-bottom: 1em; 
}
.content textarea { 
    min-height: 12em; 
    resize: vertical; 
}
input.danger { 
    color: #cc2f2e; 
}
input[type=submit] { 
    align-self: start; 
    min-width: 10em; 
}

.main-nav ul{
    list-style-type: none;
    margin: 16px;
    padding: 0;
    overflow: hidden;
    background-color: #ba9fcb;
    color:rgb(0, 0, 0);
    display:flex;
    border-radius: 25px;
    
}
.main-nav li{
    display: flex;
    float:right;
}
.main-nav li a{
    font-family: American Typewriter, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.main-nav li a:hover{
    background-color: #76478e; 
    color: white;
    border-radius: 15px;
}

input[type=text],input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type=submit] {
    margin: 15px;
    width: 25%;
    align-content: center;
    text-align: center;
}
